In [ ]:
# 문제정의(KAGGLE : https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview)

# ---------------------------
## 1. 해결과제
# ---------------------------
# - 주어진 주택 데이터(물리적 특성 + 주변 환경)를 이용해 **최종 판매 가격(SalePrice)** 예측
# - 단순 선형 회귀가 아니라 다양한 회귀 기법을 적용해 성능 최적화가 목표

# ---------------------------
# 2. 타겟 변수
# ---------------------------
# - **SalePrice**  
# - 주택의 실제 판매 가격 (회귀 문제의 종속 변수)

# ---------------------------
# 학습에 사용할 X 후보 선정 
# ---------------------------
features = [
    "OverallQual",   # 전반적 자재/마감 품질
    "GrLivArea",     # 지상 생활 면적
    "GarageCars",    # 차고 수용 차량 수
    "GarageArea",    # 차고 면적
    "TotalBsmtSF",   # 지하 전체 면적
    "1stFlrSF",      # 1층 면적
    "FullBath",      # 전체 욕실 개수
    "YearBuilt",     # 건축 연도
    "YearRemodAdd",  # 리모델링 연도
    "KitchenQual",   # 주방 품질
    "Fireplaces",    # 벽난로 개수
    "Neighborhood"   # 위치
]
# 선택 Feature 값 정리 (표)

| Feature       | 타입     | 값 범위 / 카테고리 |
|---------------|---------|--------------------|
| OverallQual   | 정수형  | 1 ~ 10 (1=매우 나쁨, 10=매우 우수) |
| GrLivArea     | 수치형  | 약 300 ~ 5600+ (지상 생활 면적, sq ft) |
| GarageCars    | 정수형  | 0 ~ 4 (차고에 주차 가능한 차량 수) |
| GarageArea    | 수치형  | 0 ~ 1400+ (차고 면적, sq ft) |
| TotalBsmtSF   | 수치형  | 0 ~ 6000+ (지하 전체 면적, sq ft) |
| 1stFlrSF      | 수치형  | 약 300 ~ 4000+ (1층 면적, sq ft) |
| FullBath      | 정수형  | 0 ~ 3+ (전체 욕실 개수) |
| YearBuilt     | 정수형  | 1870 ~ 2010 (건축 연도) |
| YearRemodAdd  | 정수형  | 1950 ~ 2010 (리모델링 연도, 없으면 YearBuilt 동일) |
| KitchenQual   | 범주형  | {Ex=우수, Gd=좋음, TA=보통, Fa=나쁨} |
| Fireplaces    | 정수형  | 0 ~ 3 (벽난로 개수) |
| Neighborhood  | 범주형  | 25개 지역 코드 (예: CollgCr, Veenker, Crawfor, NoRidge, Mitchel 등) |

In [ ]:
# ---------------------------------
# 라이브러리 가져오기
# ---------------------------------

In [1]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
# ---------------------------------
# EDA
# ---------------------------------
train.shape, test.shape

((1460, 81), (1459, 80))

In [4]:
train.head()
train.tail()
train.sample(5)

test.head()
test.tail()
test.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
train.info()
# test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [6]:
train.describe()
test.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [9]:
train.describe(include='O')
test.describe(include='O')

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1455,1459,107,1459,1459,1457,1459,1459,1459,1459,...,1383,1381,1381,1381,1459,3,290,51,1458,1459
unique,5,2,2,4,4,1,5,3,25,9,...,6,3,4,5,3,2,4,3,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
freq,1114,1453,70,934,1311,1457,1081,1396,218,1251,...,853,625,1293,1328,1301,2,172,46,1258,1204

In [24]:
train.isnull().sum()

OverallQual     0
GrLivArea       0
GarageCars      0
GarageArea      0
TotalBsmtSF     0
1stFlrSF        0
FullBath        0
YearBuilt       0
YearRemodAdd    0
KitchenQual     0
Fireplaces      0
Neighborhood    0
dtype: int64

In [25]:
# ---------------------------------
# 데이터 전처리
# ---------------------------------
# y값 분리
target = train.pop('SalePrice')

KeyError: 'SalePrice'

In [55]:
# # 후보데이터만 사용 - 선택

features = [
    "OverallQual",   # 전반적 자재/마감 품질
    "GrLivArea",     # 지상 생활 면적
    "GarageCars",    # 차고 수용 차량 수
    "GarageArea",    # 차고 면적
    "TotalBsmtSF",   # 지하 전체 면적
    "1stFlrSF",      # 1층 면적
    "FullBath",      # 전체 욕실 개수
    "YearBuilt",     # 건축 연도
    "YearRemodAdd",  # 리모델링 연도
    "KitchenQual",   # 주방 품질 (범주형)
    "Fireplaces",    # 벽난로 개수
    "Neighborhood"   # 위치 (범주형)
]
train = train [features]
train.info()
train.head()
test = test [features]
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1460 non-null   int64
 1   GrLivArea     1460 non-null   int64
 2   GarageCars    1460 non-null   int64
 3   GarageArea    1460 non-null   int64
 4   TotalBsmtSF   1460 non-null   int64
 5   1stFlrSF      1460 non-null   int64
 6   FullBath      1460 non-null   int64
 7   YearBuilt     1460 non-null   int64
 8   YearRemodAdd  1460 non-null   int64
 9   KitchenQual   1460 non-null   category
 10  Fireplaces    1460 non-null   int64
 11  Neighborhood  1460 non-null   category
dtypes: category(2), int64(10)
memory usage: 118.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1459 non-null   int64
 1   GrLivArea     1459 non-null   int64
 2   GarageCars    1459 non-null   float64
 3   GarageArea    1459 non-null   float64
 4   TotalBsmtSF   1459 non-null   float64
 5   1stFlrSF      1459 non-null   int64
 6   FullBath      1459 non-null   int64
 7   YearBuilt     1459 non-null   int64
 8   YearRemodAdd  1459 non-null   int64
 9   KitchenQual   1459 non-null   category
 10  Fireplaces    1459 non-null   int64
 11  Neighborhood  1459 non-null   category
dtypes: category(2), float64(3), int64(7)
memory usage: 117.9 KB

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,YearBuilt,YearRemodAdd,KitchenQual,Fireplaces,Neighborhood
0,5,896,1.0,730.0,882.0,896,1,1961,1961,TA,0,NAmes
1,6,1329,1.0,312.0,1329.0,1329,1,1958,1958,Gd,0,NAmes
2,5,1629,2.0,482.0,928.0,928,2,1997,1998,TA,1,Gilbert
3,6,1604,2.0,470.0,926.0,926,2,1998,1998,Gd,1,Gilbert
4,8,1280,2.0,506.0,1280.0,1280,2,1992,1992,Gd,0,StoneBr

In [42]:
# 결측치 제거() / 채우기 (수치 - 최소/최대/평균/중앙)

#train.isnull().sum()

# test.isnull().sum()
test['GarageCars'] = test['GarageCars'].fillna(test['GarageCars'].min())
test['GarageArea'] = test['GarageArea'].fillna(test['GarageArea'].min())
test['TotalBsmtSF'] = test['TotalBsmtSF'].fillna(test['TotalBsmtSF'].min())
test['GarageCars'] = test['GarageCars'].fillna(test['GarageCars'].min())
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1459 non-null   int64
 1   GrLivArea     1459 non-null   int64
 2   GarageCars    1459 non-null   float64
 3   GarageArea    1459 non-null   float64
 4   TotalBsmtSF   1459 non-null   float64
 5   1stFlrSF      1459 non-null   int64
 6   FullBath      1459 non-null   int64
 7   YearBuilt     1459 non-null   int64
 8   YearRemodAdd  1459 non-null   int64
 9   KitchenQual   1458 non-null   object
 10  Fireplaces    1459 non-null   int64
 11  Neighborhood  1459 non-null   object
dtypes: float64(3), int64(7), object(2)
memory usage: 136.9+ KB

In [46]:
# 결측치 제거 / 채우기 (범주  - 최빈값)

# test.info()
# test.describe(include='O')

test['KitchenQual'] = test['KitchenQual'].fillna(test['KitchenQual'].mode()[0] )
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1459 non-null   int64
 1   GrLivArea     1459 non-null   int64
 2   GarageCars    1459 non-null   float64
 3   GarageArea    1459 non-null   float64
 4   TotalBsmtSF   1459 non-null   float64
 5   1stFlrSF      1459 non-null   int64
 6   FullBath      1459 non-null   int64
 7   YearBuilt     1459 non-null   int64
 8   YearRemodAdd  1459 non-null   int64
 9   KitchenQual   1459 non-null   object
 10  Fireplaces    1459 non-null   int64
 11  Neighborhood  1459 non-null   object
dtypes: float64(3), int64(7), object(2)
memory usage: 136.9+ KB

In [ ]:
# 이상치 제거 / 채우기 - 생략

In [49]:
# 인코딩 -> LightGBM사용시 범주형 -  카테고리화

train['KitchenQual'] = train['KitchenQual'].astype('category')
train['Neighborhood'] = train['Neighborhood'].astype('category')
test['KitchenQual'] = test['KitchenQual'].astype('category')
test['Neighborhood'] = test['Neighborhood'].astype('category')

train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1460 non-null   int64
 1   GrLivArea     1460 non-null   int64
 2   GarageCars    1460 non-null   int64
 3   GarageArea    1460 non-null   int64
 4   TotalBsmtSF   1460 non-null   int64
 5   1stFlrSF      1460 non-null   int64
 6   FullBath      1460 non-null   int64
 7   YearBuilt     1460 non-null   int64
 8   YearRemodAdd  1460 non-null   int64
 9   KitchenQual   1460 non-null   category
 10  Fireplaces    1460 non-null   int64
 11  Neighborhood  1460 non-null   category
dtypes: category(2), int64(10)
memory usage: 118.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1459 non-null   int64
 1   GrLivArea     1459 non-null   int64
 2   GarageCars    1459 non-null   float64
 3   GarageArea    1459 non-null   float64
 4   TotalBsmtSF   1459 non-null   float64
 5   1stFlrSF      1459 non-null   int64
 6   FullBath      1459 non-null   int64
 7   YearBuilt     1459 non-null   int64
 8   YearRemodAdd  1459 non-null   int64
 9   KitchenQual   1459 non-null   category
 10  Fireplaces    1459 non-null   int64
 11  Neighborhood  1459 non-null   category
dtypes: category(2), float64(3), int64(7)
memory usage: 117.9 KB

In [50]:
# ---------------------------------
# 검증 데이터 분할 train - val (8,2)
# ---------------------------------
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((1168, 12), (292, 12), (1168,), (292,))

In [ ]:
# ---------------------------------
# 학습 및 평가(MSE, MAE , R2..)
# ---------------------------------

In [52]:
# 학습
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_val)
y_pred

array([341764.75749812, 141688.47910067, 120677.81758381, 228575.75211451,
        92251.28852243, 113043.99740768, 225809.54820198, 127978.36444965,
       563876.8571553 , 146429.51181508, 200409.89106504, 173586.80944635,
       220551.87875481, 117533.88502192, 128088.77204484, 132381.60556189,
       207334.32809832, 117411.78140702, 144575.01788236, 172587.93147109,
       128809.21044769, 143704.1417425 , 109073.95609355, 175374.0920053 ,
       188612.94734439, 190423.50138547, 176349.39322053,  71867.25871788,
       306058.79134878, 123242.47692563, 118737.94715063, 181409.04171498,
       140585.05457823, 288160.12655409, 404077.30328448, 176080.76221067,
       267782.91798305, 130654.79465395, 250707.29123974, 299490.56030609,
       202327.97574432, 130428.26202987, 189989.11439171, 302960.56851511,
       388234.26728087, 141637.48155231, 122178.45559983, 123184.20341559,
       154213.64188508,  97465.09571438, 401084.00749283, 141343.96728508,
       178784.83192722,  82926.61052917, 222801.09508002, 112117.53874166,
       123032.98219899, 238327.65667361, 136467.54212947,  94943.04010812,
       137396.0536451 , 132412.0406357 , 155256.48496603, 147540.15891439,
       196250.48380827, 174327.50442926, 126216.67945328, 227813.18380025,
       154377.03720648, 183231.34504434, 168425.92417838, 117276.77820865,
        72799.07260249, 216339.17102588, 107721.42677542, 265235.17730468,
       122679.86675641, 104446.26692093, 287895.66886757, 157684.77258613,
       131483.65299747, 132419.20220589, 109364.94730069, 143852.85483236,
       313432.00030292, 204226.67673723,  99803.69618924, 198462.25675858,
       163440.08453014, 140525.88579455, 189136.08871499, 172844.6438425 ,
       182576.08371476, 213124.70300005, 188610.03305767, 146791.08442704,
       211575.29867252, 131194.12942064, 113056.51781512, 157924.3694924 ,
       237276.81664013, 195829.89761302, 115461.77984164, 141861.24023135,
        91994.12571909, 279734.48582073, 152697.94971682,  97970.73426055,
       176838.26324824, 107559.59526147, 130357.87330551, 115839.24044974,
       185955.8001408 , 114413.27770448, 168291.23420815, 159806.39562318,
       465525.44492075, 132825.61039229, 202893.37234211, 268919.79733758,
       146120.23186766, 174973.05024484, 128306.09149316, 199124.1440094 ,
       217892.14450831, 232727.09743079, 414404.79391208, 203983.31831108,
       202790.34195207, 168808.55462597, 186519.41835816, 194496.65640885,
       143854.75843138, 181931.5787949 , 111661.78734344, 226073.58688013,
       127119.05464064, 194917.27272655, 116086.87627367, 176795.84405548,
       167653.91049514, 139460.97299237, 310252.75746183, 158075.10588519,
       136209.68107728, 182818.08459775, 230641.75835352, 139499.18862816,
       300716.01278706, 224518.85756523, 164804.38160351, 359886.47976333,
       280940.45665271, 151276.10674901, 184756.52948921, 313694.16156253,
       117338.74242296, 206925.69175793, 114481.92464306, 166426.40860047,
       114193.28483634, 139124.52927028, 187323.25339178, 118063.59573965,
       239648.3576451 , 112312.47432575, 150757.94638843, 297384.75840901,
       193789.77256691, 180043.21570052, 156846.32261927, 154420.18106777,
       187742.12970843, 168074.7409868 , 123262.54373414, 106553.42517856,
       138253.1257135 , 254001.6841644 , 105431.87191318, 152049.01894788,
       279220.78585374, 214898.92934457, 101427.53602165, 328196.33290662,
        93833.04849467, 171823.23741002,  90933.66210655, 194051.00934242,
       192418.17823729, 143704.1417425 , 143362.25151951, 148192.45264923,
       226957.62261981, 137749.75924759, 117833.82126639, 142712.80809233,
        86235.88875088, 133025.93132685, 163463.2375475 , 127759.49364092,
       135352.93533524, 199521.34183889, 114513.32720257, 123991.14347299,
       148718.04328744, 166575.36584473, 161796.64622987, 316733.39680353,
       268058.66030976,  73162.10876472, 153219.36302706, 277136.28203188,
        91085.53293941,  91106.93297294, 280372.14921181, 196956.54457763,
       188729.44285294, 280153.92334104, 272220.95517617,  72945.24756347,
       203152.27735626, 170695.46054784, 127821.5625222 , 122249.71197412,
       192618.21657195, 239426.71389071, 255733.05588623, 194225.10050575,
       143463.99718739, 164222.68801916,  90431.69350942, 155741.52428078,
        99461.85692093, 151271.78088997, 200851.97720453, 135622.45625252,
       135321.70603039, 122416.72638644,  96450.79376885, 179621.31239198,
       109789.64329478, 183383.68831867, 194291.53192182, 218556.10670993,
       153988.45782694, 200287.32538616, 209483.15304266, 173327.25410039,
       136987.69256179, 198458.15869864, 185043.43905077, 267863.76282327,
        93184.54751561, 422200.59195184, 234776.08665907, 231296.11185564,
        97879.98055799, 205281.20537489, 433562.3107188 , 423464.71499523,
       203307.3629002 , 126997.59193908, 125498.54537944,  79562.48607056,
       429307.89014584, 355782.91668714, 351769.31175287,  72194.1472878 ,
       207010.62899162, 295594.53953031, 136829.39565888, 286682.6021735 ,
       132735.25495888, 198004.21798449, 106739.01284959, 219974.95953946,
       193873.97070918, 181696.28386531, 234943.87755607, 103806.83658049,
       130078.48843374, 385251.86508593, 161907.32607424, 129778.77565173,
       198906.25068692, 130903.17208488, 118242.92827595, 273447.16769597,
       482040.79760923, 151298.82694817,  67250.26191674,  88551.31745634])

In [54]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import root_mean_squared_error
# 평가
result = mean_squared_error(y_val, y_pred)
print('MSE:', result)

result = mean_absolute_error(y_val, y_pred)
print('MAE:', result)

result = root_mean_squared_error(y_val, y_pred)
print('RMSE:', result)

result = r2_score(y_val, y_pred)
print('R2:', result)

MSE: 1138255660.1912904
MAE: 19091.970142754628
RMSE: 33738.044700179205
R2: 0.8351751535112408

In [ ]:
# MSE: 1138255660.1912904 -> 다른모델과 비교시 주로 사용
# -> 모델의 전체적인 예측 정확도 (작을수록 좋음)
# -> 모델을 바꾸거나 하이퍼파라미터를 조정했을 때 비교 기준

#MAE: 19091.970142754628
# -> 예측값과 실제 집값의 차이가 평균적으로 약 19000 달러

#RMSE: 33738.044700179205
# -> 실제값이랑 33000달러 차이 - 약 18% 오차

#R2: 0.8351751535112408 / 모델의 설명정도
# -> 모델이 집값 변동의 약 **83.5%**를 설명(준수한 성능)

In [ ]:
# ---------------------------------
# 파일로 저장
# ---------------------------------
pred = model.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.to_csv("result.csv", index=False)

In [61]:
# ---------------------------------
# 모델에 값(X..) 넣어보기
# ---------------------------------

# 하나의 샘플 (예시 값)
sample = {
    "OverallQual": 7,     # 자재/마감 품질 (1~10)
    "GrLivArea": 1800,    # 지상 생활 면적
    "GarageCars": 2,      # 차고 수용 차량 수
    "GarageArea": 500,    # 차고 면적
    "TotalBsmtSF": 900,   # 지하 전체 면적
    "1stFlrSF": 1200,     # 1층 면적
    "FullBath": 2,        # 전체 욕실 수
    "YearBuilt": 2005,    # 건축 연도
    "YearRemodAdd": 2010, # 리모델링 연도
    "KitchenQual": "Gd",  # 주방 품질 (Ex, Gd, TA, Fa, Po 등)
    "Fireplaces": 1,      # 벽난로 개수
    "Neighborhood": "CollgCr" # 동네 이름
}
# DataFrame으로 변환
sample_df = pd.DataFrame([sample])
# sample_df.info()

# object -> category 변환 
sample_df['KitchenQual'] = sample_df['KitchenQual'].astype('category')
sample_df['Neighborhood'] = sample_df['Neighborhood'].astype('category')

# 예측하기
pred_price = model.predict(sample_df)
print("예측 집값:", pred_price[0])

예측 집값: 221781.9270775493