# 라이브러리 불러오기

In [3]:
import pandas as pd #
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개']) #
price = pd.Series([10000, 9000, 8000]) #

# display(menu,price) #
# print(menu)
# print(price)

In [6]:
df_from_series = pd.DataFrame({
    '메뉴': menu,
    '가격': price
})
df_from_series

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [4]:
df = pd.DataFrame({
    '메뉴': ['비빔밥', '김치찌개', '된장찌개'],
    '가격': [10000, 9000, 8000],
    '원산지': ['국내산', '국내산', '국내산']
})
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

In [12]:
menu_series = df['메뉴']     # 타입: pandas.Series
menu_series
# type(menu_series)

pandas.core.series.Series

In [15]:
menu_df = df[['메뉴']]       # 타입: pandas.DataFrame
menu_df 
# type(menu_df)

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

In [17]:
menu_price_df = df[['메뉴', '가격']]
menu_price_df

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [20]:
cols = ['메뉴', '가격']
menu_price_df2 = df[cols]
menu_price_df2

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [21]:
print('df          : ', type(df))
print("df['가격']   : ", type(df['가격']))     # Series
print("df[['가격']] : ", type(df[['가격']]))   # DataFrame

df          :  <class 'pandas.core.frame.DataFrame'>
df['가격']   :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>

In [26]:
# 첫 번째 행(인덱스 0) 전체

row0 = df.loc[0]
# df 
row0

# # 인덱스 0~1 범위(끝 포함)
rows_0_to_1 = df.loc[0:1]
# rows_0_to_1
# # 조건식: 가격이 9000 이상인 행
rows_price_ge_9000 = df.loc[df['가격'] >= 9000, ['메뉴', '가격','원산지']]

rows_price_ge_9000

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산

In [47]:
# 첫 번째 행(정수 위치 0)
row0_iloc = df.iloc[0]
row0_iloc
# 첫 2행(0,1)과 앞의 2개 컬럼(0,1)
sub_iloc = df.iloc[0:1, 0:2]
sub_iloc

    메뉴     가격
0  비빔밥  10000

In [48]:
# 예: 10% 할인 가격 컬럼 추가
df['할인가'] = (df['가격'] * 0.9).astype(int)
df

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200

In [54]:
# 예: '김치찌개' 가격 9500으로 변경
df.loc[df['메뉴'] == '김치찌개', '가격'] = 9500

df

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9500  국내산  8100
2  된장찌개   8000  국내산  7200

In [56]:
# 예: '할인가' 컬럼 삭제
df=df.drop(columns=['할인가'])
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9500  국내산
2  된장찌개   8000  국내산

In [ ]:
# 원산지가 국내산이면서 가격이 9000이상
filtered = df[(df['원산지'] == '국내산') & (df['가격'] >= 9000)]

a = (df['원산지'] == '국내산')
type(a)
b =