In [4]:
import pandas as pd

df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리": [10, 110, 250, 110, 20, 210, 0],
})
# 확인: df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [6]:
df.to_csv("cafe_index.csv")
temp = pd.read_csv("cafe_index.csv")
# 확인: temp.head()

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20

In [7]:
df.to_csv("cafe.csv", index=False)
df2 = pd.read_csv("cafe.csv")
# 확인: df2.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [8]:
df.to_csv("cafe_semicolon.csv", sep=";", index=False)
df3 = pd.read_csv("cafe_semicolon.csv", sep=";")
# 확인: df3.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [11]:
df.to_csv("cafe_menu_price.csv", columns=["메뉴", "가격"], index=False)
# 확인: pd.read_csv("cafe_menu_price.csv").head()

      메뉴    가격
0  아메리카노  4500
1   카페라떼  5000
2   카페모카  5500
3   카푸치노  5000
4  에스프레소  4000

In [12]:
df.to_csv("cafe_utf8.csv", index=False, encoding="utf-8-sig")
# 윈도우 환경에서 한글을 Excel로 열 경우 utf-8-sig 권장

In [14]:
df.to_excel("cafe.xlsx", index=False, sheet_name="메뉴판")

In [16]:
df_xls = pd.read_excel("cafe.xlsx", sheet_name="메뉴판")
# 확인: df_xls.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [17]:
df.to_json("cafe.json", orient="records", force_ascii=False)

In [18]:
df_json = pd.read_json("cafe.json")
# 확인: df_json.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [19]:
df.to_pickle("cafe.pkl")

In [20]:
df_pkl = pd.read_pickle("cafe.pkl")
# 확인: df_pkl.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [22]:
# CSV 기본저장/불러오기
df.to_csv("cafe_basic.csv")
df_basic = pd.read_csv("cafe_basic.csv")

In [23]:
# 인덱스 제외 저장
df.to_csv("cafe_no_index.csv", index=False)
df_no_index = pd.read_csv("cafe_no_index.csv")

In [24]:
# 특정 컬럼만 저장
df.to_csv("cafe_menu_price.csv", columns=["메뉴", "가격"], index=False)

In [25]:
# 구분자 변경
df.to_csv("cafe_sc.csv", sep=";", index=False)
df_sc = pd.read_csv("cafe_sc.csv", sep=";")

In [26]:
# 인코딩 지정
df.to_csv("cafe_utf8.csv", index=False, encoding="utf-8-sig")

In [27]:
# 헤더 없이 저장하고 헤더 없이 읽기
df.to_csv("cafe_noheader.csv", index=False, header=False)
df_noheader = pd.read_csv("cafe_noheader.csv", header=None)

In [28]:
# 헤더 없이 읽되 컬럼명 지정
df_named = pd.read_csv("cafe_noheader.csv", header=None, names=['메뉴', '가격', '칼로리'])

In [29]:
# 특정 컬럼을 인덱스로 지정해 읽기
df_idx = pd.read_csv("cafe.csv", index_col="메뉴")

In [30]:
# 자료형 지정하여 읽기
df_types = pd.read_csv("cafe.csv", dtype={"가격": "int64", "칼로리": "float64"})

In [31]:
# 결측치 기호 지정
df_na = pd.read_csv("cafe.csv", na_values=["NA", "-"])

In [32]:
# CSV 압축 저장/불러오기(gzip)
df.to_csv("cafe.csv.gz", index=False, compression="gzip")
df_gz = pd.read_csv("cafe.csv.gz", compression="gzip")

In [33]:
# Excel 저장(시트 이름 지정)
df.to_excel("cafe_book.xlsx", index=False, sheet_name="메뉴판")

In [34]:
# Excel 다중 시트 저장
with pd.ExcelWriter("cafe_multi.xlsx") as writer:
    df.to_excel(writer, sheet_name="전체", index=False)
    low_cal = df[df["칼로리"] <= 100]
    low_cal.to_excel(writer, sheet_name="저칼로리", index=False)

In [35]:
# Excel 특정 시트만 읽기
df_low = pd.read_excel("cafe_multi.xlsx", sheet_name="저칼로리")

In [36]:
# JSON 저장(records, 한글유지)
df.to_json("cafe.json", orient="records", force_ascii=False)

In [37]:
# JSON 읽기
df_json = pd.read_json("cafe.json")

In [38]:
# Pickle 저장/불러오기
df.to_pickle("cafe.pkl")
df_pkl = pd.read_pickle("cafe.pkl")

In [39]:
# 부분저장(행 제한)
df.head(3).to_csv("cafe_top3.csv", index=False)
df_top3 = pd.read_csv("cafe_top3.csv")

In [40]:
# 열 이름 바꾸고 저장
df_renamed = df.rename(columns={"가격": "price", "칼로리": "kcal"})
df_renamed.to_csv("cafe_renamed.csv", index=False)

In [41]:
# 필터 후 저장
high_kcal = df[df["칼로리"] > 100]
high_kcal.to_csv("cafe_high_kcal.csv", index=False)